<!--section 005-->

<% include ../partials/header.ejs %>

<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <div class="row">
                <div class="col-md-12 text-center"><h1><%= title %></h1></div>
            </div>
            <form class="form well" method="post">
                <div class="form-group">
                    <label for="contactNameField">Name</label>
                    <input type="text" class="form-control" id="contactNameField"
                           placeholder="Contact Name" name="contactName"
                           value="<%= BusinessContacts.contactName %>" required>
                </div>
                <div class="form-group">
                    <label for="contactNumberField">Contact Number</label>
                    <input type="text" class="form-control" id="contactNumberField"
                           placeholder="Contact Number" name="contactNumber"
                           value="<%= businessContacts.contactNumber %>" required>
                </div>
                <div class="form-group">
                    <label for="emailField">Email Address</label>
                    <input type="email" class="form-control" id="emailField"
                           placeholder="Email" name="email address" value="<%= BusinessContacts.email %>" required>
                </div>
                <!--This button makes to Update some information that user entered-->
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-check-square-o"></i> Update
                </button>
                <!--This button makes to Cancel some information that user entered-->
                <a href="/businessContacts" class="btn btn-warning">
                    <i class="fa fa-undo"></i> Cancel
                    <button type="submit">Cancel</button>
                </a>
                <!--This button makes to Delete some information that user entered-->
                <a href="/businessContacts/delete/<%= businessContacts._id %>" class="btn btn-danger">
                    <i class="fa fa-trash-o"></i> Delete
                    <button type="submit">Delete</button>
                </a>
            </form>
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>